<%= render :partial => "events/delay_modal" %>

  <div class=row>
    <div class="col-md-6" id="graph_1_column">
      <a href="<%= timeline_graph_path %>"><h2>Timeline</h2></a>
      <div class="graph_1_container" id="graph_1_container"></div>
    </div><!--/.col-md-6-->
    <div class="col-md-6" id="graph_2_column">
      <a href="<%= area_graph_path %>"><h2>Failure Durations</h2></a>
      <div class="graph_2_container"  id="graph_2_container"></div>
    </div><!--/.col-md-6-->
  </div>

  <div class=row>
    <div class="col-md-12" id="events_table">
      <h2>Events</h2>
      <div class="events_div">
        <%= render :partial => "events/events_table", :locals => {:events => @events } %>
      </div>
    </div><!--/.col-md-12-->
  </div>

  <div class="row spaced-row">
    <div class="col-md-12" id="events_table">
      <div class="bottom-nav-link-right"><%= link_to "Create an Event", new_event_path, :class => "btn btn-mini btn-success" %></div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#event_modal">
        Event modal
      </button>

    </div><!--/.col-md-12-->
  </div>

  <div class=row>

    <div class="linac_stats">
      <h2>Cumulative Statistics</h2>
      <%= render :partial => 'linacs/stats' %>
    </div>
  </div><!-- /.row -->

<div class=row>
  <%= render :partial => "layouts/bottom_nav" %>
</div><!-- /.row -->



<%= render :partial => "pages/area_graph", :locals => {:linac_array => @linac_array, :pareto_data => @pareto_data, :area_data => @area_data} %>
<%= render :partial => "pages/timeline_graph", :locals => {:events_data_array => @events_data_array, :linac_array => @linac_array, :pareto_data => @pareto_data, :area_data => @area_data} %>
