<%= render :partial => "events/delay_modal" %>

  <div class=row>
    <div class="col-md-6" id="graph_1_column">
      <h2>Timeline</h2>
      <div class="graph_1_container" id="graph_1_container"></div>
    </div><!--/.col-md-6-->
    <div class="col-md-6" id="graph_2_column">
      <h2>Failures</h2>
      <div class="graph_2_container"  id="graph_2_container"></div>
    </div><!--/.col-md-6-->
  </div>

  <div class=row>
    <div class="col-md-12" id="events_table">
      <h2>Events</h2>
      <div class="events_div">
        <%= render :partial => "events/events_table" %>
      </div>
    </div><!--/.col-md-12-->
    <div class="col-md-12" id="events_table">
      <div class="bottom-nav-link-right"><%= link_to "Create an Event", new_event_path, :class => "btn btn-mini btn-success" %></div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#event_modal">
        Event modal
      </button>


    </div><!--/.col-md-12-->
  </div>

  <div class=row>

    <div class="linac_stats">
      <h2>Cumulative Statistics</h2>
      <%= render :partial => 'linacs/stats' %>
    </div>
  </div><!-- /.row -->

<div class=row>
  <%= render :partial => "layouts/bottom_nav" %>
</div><!-- /.row -->



<script>

var color_array = ['#92CA8A', '#4FA8C7', '#393939', '#5D5D5D', '#A2A2A2', '#F7F7F7']

var linac_array = <%= @linac_array.to_json.html_safe %>;

function colorAssigner(linac_name) {
          var index_number = linac_array.indexOf(linac_name);
          new_index_number = adjustIndex(index_number);
          return color_array[new_index_number];
};

function adjustIndex(index_value, array_length) {
  while (index_value > array_length) {
    index_value = index_value - array_length;
  }
  return index_value
};


var chart;
$(document).ready(function () {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'graph_2_container'
        },
        credits: {
            enabled: false
        },
        legend: {
            layout: 'horizontal',
            verticalAlign: 'bottom',
            enabled: false
        },
        title: {
            text: ''
        },
        tooltip: {
            formatter: function () {
                if (this.series.name == 'Accumulated') {
                    return this.y.toFixed(2) + '%';
                }
                return this.point.name + '<br/>' + '<b> ' + this.y.toString().replace('.', ',') + ' min </b>';
            }
        },
        xAxis: {
          type: 'category',
            labels: {
                rotation: -45,
              },
        },
        yAxis: [{
            title: {
                text: 'Downtime (min)'
            }
        }, {
            labels: {
                formatter: function () {
                    return this.value + '%';
                }
            },
            max: 100,
            min: 0,
            opposite: true,
            plotLines: [],
            title: {
                text: '% of Total Downtime'
            }
        }],
        series: [{
            data: [
              <% @pareto_data[0].each do |p| %>
                {
                  y: <%= p[2] %>,
                  name: '<%= p[0] %>',
                  color: colorAssigner('<%= p[0] %>')
                },
              <% end %>
            ],
            name: 'Options',
            type: 'column'
        }, {
            data: [
              <% @pareto_data[1].each do |p| %>
              {
                y: <%= p[1] %>,
              },
              <% end %>
            ],
            name: 'Accumulated',
            type: 'spline',
            yAxis: 1,
            id: 'accumulated'
        }]
    });
});


$(function () {
    $('#graph_1_container').highcharts({
        chart: {
            type: 'column'
        },
        credits: {
            enabled: false
        },
        title: {
            text: '',
            style : {
              display : 'none'
            }
        },
        subtitle: {
            text: '',
            style : {
              display : 'none'
            }
        },
        xAxis: {
          type: 'datetime',
          minPadding: 0.10,
          maxPadding: 0.05,
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Downtime Duration (min)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        <% @events_data_array.each do |e| %>
        {
            name: '<%= e[0] %>',
            color: colorAssigner('<%= e[0] %>'),
            data:  <%= e[1] %>,
        },
        <% end %>
      ]
    });
});
</script>
